@import url("https://fonts.googleapis.com/css?family=Poppins");
$font-text: "Poppins", sans-serif;

@import url('https://fonts.googleapis.com/css?family=Lato:400,700');
$font-title: 'Lato', sans-serif;

@import url('https://fonts.googleapis.com/css?family=Righteous');
$font-header: 'Righteous', cursive;
