$principal-color: #dd3f3b;
$secondary-color: #1190c5;

$body-bg: #fcfcfc;
$font-color: #53575a;
$black: #282d31;
$white: #fff;
$border-color: #dfe0e0;

$max-width: 100vw;

$small: 480px;
$medium: 768px;
$large: 1024px;
