<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%= htmlWebpackPlugin.options.title %></title>
  <meta name="description" content="<%= htmlWebpackPlugin.options.description %>">
</head>
<body>
  <div class="root"> </div>
  <div class="gallery-container"></div>
  <header class="main-header"></header>
  <section class="movies-container"></section>
</body>
</html>
